{% extends 'Booking/base.html' %}

{% load static %}
{% block content %}
 <!--Form section-->
  <div class="section bg-light" data-aos="fade-up" id="section-reservation">
          <div class="container">
            <div class="row section-heading justify-content-center mb-5">
              <div class="col-md-8 text-center">
                <h2 class="heading mb-3">Reservation</h2>
        
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-10 p-5 form-wrap">
                <form action='' method="POST">
                {% csrf_token %}
                  <div class="row mb-4">
                    <div class="form-group col-md-4">
                      <label for="name" class="label">Name:{{form.name}}</label>
                      <div class="form-field-icon-wrap">
                        <span class="icon ion-android-person"></span>
                    
                      </div>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="email" class="label">Email:{{form.email}}</label>
                      <div class="form-field-icon-wrap">
                        <span class="icon ion-email"></span>
                  
                      </div>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="phone" class="label">Phone:{{form.phoneno}}</label>
                      <div class="form-field-icon-wrap">
                        <span class="icon ion-android-call"></span>
                    
                      </div>
                    </div>

                    <div class="form-group col-md-4">
                      <label for="persons" class="label">Number of Persons:{{form.persons}}</label>
                      <div class="form-field-icon-wrap">
                        <span class="icon ion-android-arrow-dropdown"></span>
                        
                      </div>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="date" class="label">Date:<br>{{form.date}}</label>
                      <div class="form-field-icon-wrap">
                        <span class="icon ion-calendar"></span>
                    
                      </div>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="time" class="label">Time:{{form.time}}</label>
                      <div class="form-field-icon-wrap">
                        <span class="icon ion-android-time"></span>
                        
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-md-4">
                      <input type="submit" class="btn btn-primary btn-outline-primary btn-block" value="Reserve Now" >
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div> 
        {% for message in messages %}
          <p id="messages">{{message}}</p>
        {% endfor %}  
<!-- .section -->
{% endblock %}